* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #0D1B2A;
    --secondary-color: #1D4ED8;
    --hover-color: #fd6e0a;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* universal selector */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

.button {
    padding: 12px 12px;
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    font: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    transform: translateY(-2px);
}

.big-button {
    font-size: 1.5rem;
}


/* nav- section */
.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding: 2px 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    transition: .4s;
}

.nav-bar:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .12);

}

.logo img {
    height: 40px;
}

.nav-manu {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.nav-manu a {
    color: #575757;
    font-size: 1rem;
    transition: .3s;
}

.nav-manu a:hover {
    color: #fd6e0a;
    box-shadow: 0 18px 35px rgba(37, 99, 235, 0.12);

}

/* hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
}

.hero-contant {
    width: 60%;
    margin: auto;
    margin-top: 100px;

}

.hero-title {
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-dis {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 40%;
}

/* Speaker section */
.speaker {
    margin-bottom: 100px;
}

.speaker-title {
    text-align: center;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.speaker-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speaker-card {
    min-width: 121px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .12);
    padding: 20px;
    border-radius: 10px;
    transition: .4s;
}

.speaker-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 18px 35px rgba(37, 99, 235, 0.12);

}

.speaker-card img {
    margin-bottom: 10px;
    /* height: 250px; */
    object-fit: cover;

}

.speaker-category {
    font-size: .7rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 4px;
}

.speaker-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.speaker-company {
    font-size: 0.7rem;
    color: #575757;
}

/* secure section */
.sequre-title {
    text-align: center;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 120px;
}

.sequre-subtitle {
    color: #575757;
    text-align: center;
    margin-bottom: 80px;
}

.sequre-card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sequre-card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .12);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .4s;
}

.sequre-card-pro {
    background-color: #0D1B2A;
}

.sequre-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 18px 35px rgba(37, 99, 235, 0.12);

}

.sequre-card-title {
    text-transform: uppercase;
    font-size: 1rem;
    color: #575757;
    margin-bottom: 4px;
}

.sequre-card-title-pro {
    color: #93C5FD;
}

.sequre-card-title-pro-box {
    display: flex;
    justify-content: space-between;
}

.POPULAR {
    font-size: .8rem;
    color: #e2e7ec;
    background-color: #53769b;
    padding: 5px 12px;
    border-radius: 20px;
}

.sequre-card-price {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 4px;
}

.sequre-card-price-pro {
    color: #fff;
}

.sequre-card-subtitle {
    font-size: 1rem;
    color: #575757;
    margin-bottom: 15px;
}

.sequre-card-subtitle-pro {
    color: #fff;
}

hr {
    border: none;
    height: 1px;
    background: #e5e5e5;
}


.sequre-card-list {
    color: var(--primary-color);
    margin-top: 10px;
}

.sequre-card-list-pro {
    color: #fff;
}

.sequre-card-list li {
    margin-bottom: 8px;
}

.sequre-card-list li::before {
    content: "•";
    color: #2563eb;
    margin-right: 12px;
}

.sequre-card-button {
    padding: 12px 12px;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
    border: 2px solid #2563eb;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: #1D4ED8;
    transition: .4s;
}

.sequre-card-button:hover {
    transform: translateY(-3px);
    color: #e5e5e5;
    background-color: var(--secondary-color);
    box-shadow: 0 18px 35px rgba(37, 99, 235, 0.12);

}

.sequre-card-button-pro {
    background-color: var(--secondary-color);
    color: #fff;
    transition: .4s;
}

.sequre-card-button-pro:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
    box-shadow: 0 18px 35px rgba(37, 99, 235, 0.12);


}

/* missing section */
.schedule-section {
    background: #ffffff;
    padding: 100px 20px;
}

.section-header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 70px;
}

.section-tag {
    display: inline-block;
    color: #2563eb;
    background: #eaf2ff;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 18px;
}

.section-header h2 {
    font-size: 3rem;
    color: #1e293b;
    margin-bottom: 18px;
}

.section-header p {
    color: #64748b;
    line-height: 1.8;
    font-size: 1rem;
}


.schedule-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.schedule-day {
    background: #ffffff;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 12px 35px rgba(15, 23, 42, 0.08);
    border: 1px solid #edf2f7;
}

.day-header {
    margin-bottom: 35px;
}

.day-header h3 {
    font-size: 1.5rem;
    color: #1e40af;
    margin-bottom: 8px;
}

.day-header span {
    color: #64748b;
    font-size: 1rem;
}

.schedule-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.schedule-list::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #dbeafe;
}
.schedule-card {
    position: relative;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    background: #ffffff;
    border-radius: 14px;
    padding: 20px 22px 20px 50px;
    border: 1px solid #edf2f7;
    transition: 0.35s;
}
.schedule-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 35px rgba(37, 99, 235, 0.12);
}



.schedule-time {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #2563eb;
    font-size: 15px;
}

.schedule-content h4 {
    font-size: 20px;
    color: #1e293b;
    margin: 14px 0 10px;
}

.schedule-content p {
    color: #64748b;
    font-size: 15px;
}
.session-type {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
}

.keynote {
    background: #dbeafe;
    color: #1d4ed8;
}

.workshop {
    background: #dcfce7;
    color: #15803d;
}

.panel {
    background: #ede9fe;
    color: #6d28d9;
}

.session {
    background: #fff7d6;
    color: #b45309;
}
/* <div class="timeline-dot"></div> */

/* footer section */
.footer-section {
    background-color: #0D1B2A;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-logo {
    display: flex;
    gap: 10px;
    color: #fff;
    text-align: left;
    align-items: center;
    height: 40px;
}

.footer-logo h2 {
    font-size: 1rem;

}

.footer-social-link{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
.footer-social-link i{
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    transition: .4s;
}
.footer-social-link i:hover{
    background-color: #fff;
    color: #1D4ED8;
    border-radius: 100%;
    transform: translateY(-2px);

}

.footer-bottom{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright{
    color: #fff;
    font-size: .9rem;
}